<a href="https://colab.research.google.com/github/ZainULArfeen/NaturalLanguageProcessing/blob/master/ham_spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
import pandas as pd

In [3]:
from google.colab import files

files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"zainularfeen","key":"4ddb1e72611222865948955f9674a679"}'}

In [5]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/

In [6]:
! chmod 600 ~/.kaggle/kaggle.json

In [7]:
! kaggle dataset list

usage: kaggle [-h] [-v] {competitions,c,datasets,d,kernels,k,config} ...
kaggle: error: argument command: invalid choice: 'dataset' (choose from 'competitions', 'c', 'datasets', 'd', 'kernels', 'k', 'config')

In [9]:
! kaggle datasets download -d uciml/sms-spam-collection-dataset

Downloading sms-spam-collection-dataset.zip to /content
  0% 0.00/211k [00:00<?, ?B/s]
100% 211k/211k [00:00<00:00, 31.0MB/s]

In [14]:
! unzip sms-spam-collection-dataset.zip

Archive:  sms-spam-collection-dataset.zip
replace spam.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: spam.csv

In [19]:
messages = pd.read_csv("/content/spam.csv", encoding='ISO-8859-1')

In [20]:
messages.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [22]:
messages = messages.drop( labels= ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1 )

In [23]:
messages.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
messages.columns = ['label', 'text']
messages.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
messages.shape

(5572, 2)

In [28]:
messages['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [29]:
print("Number of Null values in label : " .format(messages['label'].isnull().sum() ))
print("Number of Null values in text : " .format(messages['text'].isnull().sum() ))

Number of Null values in label :
Number of Null values in text :

In [35]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [34]:
messages.describe()

       label                    text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

**Cleaning Text Data**   
pipeline = removing_punct >> tokenizing_text >> removing_stopwords

In [36]:
pd.set_option('display.max_colwidth', 100)
messages.head()

  label                                                                                                 text
0   ham  Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g...
1   ham                                                                        Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3   ham                                                    U dun say so early hor... U c already then say...
4   ham                                        Nah I don't think he goes to usf, he lives around here though

In [38]:
# removing punctuations
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [40]:
def remove_punct(text):
  text = "".join([char for char in text if char not in string.punctuation])
  return text

In [41]:
messages['cleaned_text'] = messages['text'].apply( lambda x: remove_punct(x) )
messages.head()

  label  ...                                                                                         cleaned_text
0   ham  ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amo...
1   ham  ...                                                                              Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
3   ham  ...                                                          U dun say so early hor U c already then say
4   ham  ...                                          Nah I dont think he goes to usf he lives around here though

[5 rows x 3 columns]

In [42]:
# tokenizing text
import re

def tokenize(text):
  tokens = re.split( '\W+', text)
  return tokens

messages['tokenized_text'] = messages['cleaned_text'].apply(lambda x: tokenize(x.lower()))

messages.head()

  label  ...                                                                                       tokenized_text
0   ham  ...  [go, until, jurong, point, crazy, available, only, in, bugis, n, great, world, la, e, buffet, ci...
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
3   ham  ...                                              [u, dun, say, so, early, hor, u, c, already, then, say]
4   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]

[5 rows x 4 columns]

In [44]:
# removing stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [45]:
stopwords = nltk.corpus.stopwords.words('english')

In [46]:
def remove_stopwords(tokenized_text):
  text = [word for word in tokenized_text if word not in stopwords]
  return text

messages['nosw_text'] = messages['tokenized_text'].apply(lambda x: remove_stopwords(x))

messages.head()

  label  ...                                                                                            nosw_text
0   ham  ...  [go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]
1   ham  ...                                                                       [ok, lar, joking, wif, u, oni]
2  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
3   ham  ...                                                        [u, dun, say, early, hor, u, c, already, say]
4   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]

[5 rows x 5 columns]