In [1]:
import numpy as np
import pandas as pd
import string

In [2]:
df = pd.read_csv('darazData.csv')
df.head()

,product,productname,productprice,productreview
0,product1,Full Sleeves T shirt for men,Rs. 410,NaN
1,product1,Full Sleeves T shirt for men,Rs. 410,46/58 Ratings61100
2,product1,Full Sleeves T shirt for men,Rs. 410,it's really mazing shirt I really liked it tha...
3,product1,Full Sleeves T shirt for men,Rs. 410,It was the most bad decision by me to order th...
4,product1,Full Sleeves T shirt for men,Rs. 410,The Fabric are not Goodbut shirt is nice

In [3]:
df.shape

(276, 4)

In [4]:
null_values = df.info()
print(null_values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product          276 non-null    object
 1   productname      276 non-null    object
 2    productprice    276 non-null    object
 3    productreview   238 non-null    object
dtypes: object(4)
memory usage: 8.8+ KB
None

In [5]:
df.describe()

,product,productname,productprice,productreview
count,276,276,276,238
unique,66,35,29,127
top,product5,Customized Picture Shirt - Full Sleeve,Rs. 499,thank you so much your feedback valuable for us
freq,11,33,43,6

In [6]:
df['productname']

0                           Full Sleeves T shirt for men
1                           Full Sleeves T shirt for men
2                           Full Sleeves T shirt for men
3                           Full Sleeves T shirt for men
4                           Full Sleeves T shirt for men
                             ...
271    KK BRANDS full sleeve T shirts new style code ...
272    KK BRANDS full sleeve T shirts new style code ...
273        Thumb hoodie T-Shirt best winter item for men
274        Thumb hoodie T-Shirt best winter item for men
275        Thumb hoodie T-Shirt best winter item for men
Name: productname, Length: 276, dtype: object

In [7]:
df['product']

0        product1
1        product1
2        product1
3        product1
4        product1
          ...
271    product167
272    product167
273    product168
274    product168
275    product168
Name: product, Length: 276, dtype: object

In [ ]:
data_frame = pd.DataFrame()

In [8]:
def remove_punctuation(text):
    no_punc = ''.join([t for t in text if t not in string.punctuation])
    return no_punc